@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 0.9rem;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background-color: #040613;
    letter-spacing: 0.02rem;
    min-height: 100vh;
    /* background: linear-gradient(to bottom, #213277, #38114c);  */
}

h1 {
    font-size: 1.1em;
    color: #ffffff;
    order: 1; 
}

p {
    padding: 5px 0;
    color: #ffffff;
    font-family: 'Raleway';
    background-color: #1b1c1f;
    font-weight: bold;
    

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #262834;
    text-align: center;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 100px;
}



.github-icon {
    font-size: 3rem;
    color: #ffffff;
    order: -1; 
}

section {
    padding: 20px 0;
    border: 1px solid #2b2b2b;

}

.repo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    width: 70%;
    margin: 0 auto;
    background-color: #1b1c1f;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
    
}

.veiw-more-container {
    display: block; 
    text-align: center; 
    width: 100px;
    
}

.view-more {
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    color: #fffeff;
    cursor: pointer;
    margin: 50px auto 60px;
    background-color: #ff643a;
    padding: 10px 10px;
    border-radius: 20px;
}

.view-more:hover {
    transform: scale(1.2) ;
}

.Homebutton {
    display: block;
    text-align: center;
    font-size: 1rem;
    color: #fffeff;
    cursor: pointer;
    margin: 50px auto 60px;
    background-color: #1b1c1f;
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;
}

.Homebutton:hover {
    text-decoration: none;
    background-color: #4a24f5;

}


.repo-card,
.repodetail-card {
    padding: 13px;
    border-radius: 5px;
    background-color: #1b1c1f;
    border: 1px solid #323232;
}

/* a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
} */

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    justify-content: center;
    
  }
  
  .pagination li {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: #ffffff;
  }
  
  .pagination li.active {
    background-color: #4a24f5;
    color: #ffffff;
    font-weight: 700;
    border-radius: 10px;
  }

  .no-repositories {
    text-align: center;
    margin-top: 20vh;
  }
  
  .no-repositories h2 {
    color: red; 
  }
  
  .no-repositories p {
    margin-bottom: 10px; 
    background-color: #040613;
  }
  

.repo-name {
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    color: #fffeff;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #040613;
    padding: 10px 10px;
    border-radius: 10px;
   
}

.repo-name:hover {
    background-color: #4a24f5;
    transition: 1s;
}

.title {
    background-color: #1b1c1f;
    margin-top: -90px;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
    width: 70%;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    border-radius: 10px 10px 0px 0px;
    font-size: 15px;
    padding: 10px;
}

#repodetail {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    
}

#repodetail p {
    padding: 15px 0;
    word-break: break-all;
}

.repo-mini-details {
    gap: 10px 50px;
    margin: 0 0 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.repo-mini-details p {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.icons {
    color: #b08cff;
}

.error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;
}

.error-page h1 {
    font-size: 3rem;
    color: #b08cff;
    margin-bottom: 20px;
}

.error-page p {
    background-color: #040613;
}

.error-status {
    font-size: 5rem;
}

.visitgit {
    color: #ffffff;
    text-decoration: none;
    background-color: #ff643a;
    padding: 10px;
    border-radius: 0px 10px 10px 0px ;
}

@media screen and (max-width: 380px) {
    .repo-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    h1 {
        font-size: 1.5rem;
    }

    .github-icon {
        font-size: 2rem;
    }
}
